* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  color: blanchedalmond;
  text-decoration: none;
  opacity: 0.7;
}
a:hover {
  opacity: 1;
  background-color: white;
  color: black;
}
main {
  display: grid;
  grid-template-areas:
    "h h h"
    "n n n"
    "as ar ar"
    "as s s"
    "f f f";
  background-color: rgba(3, 61, 100, 0.788);
}
nav {
  grid-area: n;
  background-color: crimson;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
nav ul li {
  margin-left: 50px;
}
footer {
  grid-area: f;
  background-color: rgb(36, 36, 36);
  color: gray;
  text-align: center;
  padding: 6px;
}

section {
  grid-area: s;
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  margin-right: 50px;
}
article {
  grid-area: ar;
  margin-left: 30px;
  margin-right: 50px;
  border-bottom: 1px solid gray;
}
header {
  grid-area: h;
  text-align: center;
  background-color: green;
}
aside {
  grid-area: as;
  background-color: darkblue;
}
div {
  margin-top: 20px;
  grid-area: as;
  margin-left: 50px;
}
div ul {
  list-style: none;
}
section ul {
  list-style: none;
}
img {
  max-width: 80%;
  margin-left: 50px;
  margin-top: 20px;
  border: 2px solid black;
  padding: 5px;
}

@media screen and (max-width: 800px) {
  main {
    display: grid;
    grid-template-areas:
      "h"
      "n"
      "ar"
      "s"
      "as"
      "f";
  }
}
