* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   max-width: 1400px;
  width: 80%;
  margin: auto;
}
a {
  color: blanchedalmond;
  text-decoration: none;
  opacity: 0.7;
}
a:hover {
  opacity: 1;
  background-color: white;
  color: black;
}
main {
  grid-template-areas:
    "h"
    "n"
    "as"
    "as"
    "f";
  background-color: rgba(0, 48, 73);
}
nav {

  grid-area: n;
  background-color: rgb(120, 0, 0);
}
nav ul {
  list-style: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
nav ul li {
  display: inline-block;
  margin-left: 50px;
}
footer {
  grid-area: f;
  background-color: rgb(36, 36, 36);
  color: gray;
  text-align: center;
  padding: 6px;
}

section {
  grid-area: s;
  margin-right: 50px;
}
article {
  grid-area: ar;
}
header {
  grid-area: h;
  text-align: center;
  background-color: rgb(193, 18, 31);
}
section,
article {
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: 1px solid gray;
}

table {
  font-family: Arial, sans-serif;
  width: 90%;
  border: 3px solid black;
  border-collapse: collapse;
  margin-right: 20px;
  margin-left: 50px;
  background-color: rgb(102, 155, 188);
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

td:nth-child(1) {
  text-align: left;
}

td {
  text-align: right;
}

tr:nth-child(1) {
  height: 40px;
}

caption {
  font-size: 30px;
  color: white;
}
form{
margin-left: 50px;


}